name: deploy

on:
  # Trigger the workflow on push to main branch
  push:
    branches:
      - master

permissions:
  actions: write
  contents: write
  pull-requests: write
  issues: write
  repository-projects: write

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  build-and-deploy-book:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.11.14]
    steps:
      - uses: actions/checkout@v2

      # Install dependencies
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install --upgrade pybtex

      # Build the book
      - name: Build the book
        run: |
          jupyter-book clean ariadne/
          jupyter-book build ariadne

      # Deploy the book's HTML to gh-pages branch
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ariadne/_build/html
      - name: copy
        env:
          SRC_FOLDER_PATH: "graph/"
          TARGET_BRANCH: "gh-pages"
        run: |
          #files= $(find $SRC_FOLDER_PATH -type f) # get the file list
          files=$(ls -d **graph/*)
          #echo $files
          #ls
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git fetch                         # fetch branches
          git checkout -f $TARGET_BRANCH       # checkout to your branch
          git checkout -f ${GITHUB_REF##*/} -- $files # copy files from the source branch
          git add -A
          git diff-index --quiet HEAD ||  git commit -am "deploy files"  # commit to the repository (ignore if no modification)
          git push origin $TARGET_BRANCH # push to remote branch
      - name: copy-index
        run: |
          cp graph/index.html intro.html
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add intro.html
          git commit -m "Copy intro redirector"
          git push origin $TARGET_BRANCH
        env:
          TARGET_BRANCH: "gh-pages" # Set your target branch name here
